// map css
.container1 {
  display: flex;
  padding-top: 30px;
  margin:0;
}

#title {
  text-align: left;
  padding-top: 30px;
  padding-left: 15px;
}


.map-position {
  padding-left: 20px;
  padding-right: 0px;
  height: 100vh;
  position: fixed;
  position: sticky;
  top: 132px;
  right: 0;

}

// card css

.cardsgrid {
  display: grid;
  grid-template-columns: 2fr 2fr ;
  grid-gap: 16px;
}

.meal-cards {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  // grid-template-columns: 2fr 2fr;
}

.meal-cards1 {
  width: 400px;
  height: 250px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: flex-end;
  position: cover;
  color: white;
  // padding-bottom: 40px
}

.avatar-meal-card {
  position: absolute;
  top: 16px;
  right: 16px;
  vertical-align: middle;
  border-radius: 50%;
  align-item: center;
}

.card-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 35%;
  border-radius: 8px;
  h1 {
    font-size: 20px;
    padding-left: 16px;
    padding-top: 8px;
    color: white;
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 16px;
  padding-top: 16px;
}

.name-of-food {
  padding-right: 16px;

}

.time-counter {
  padding-right: 16px;
  i {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }
}

.price-buy-now {
  padding-right: 16px;
}

.btn-buy-now {
  color: white;
  background-color: #72CCAB;
  padding: 2px 16px;
  border-radius: 50px;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;

  .btn-all:hover {
    text-decoration: none;
    color: white;
    opacity: 0.6;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}
