.containerorder {
  text-align: center;
  padding-top: 16px;
  height: 80vh;
  h4 {
    font-weight: lighter;
  }
}

.home {
  padding-top: 88px;
  h3 {
    font-size: 40px;
    color: #D0D0D0;
  }
  h3:hover {
    color: #212528;
  }
}

.gif {
  img {
    width: 200px;
    height: 200px;
  }
}
