<!-- Side navigation -->
<div class="sidenav">
  <!-- <h2>dashboard</h2> -->

  <%= cl_image_tag current_user.photo.url(:bright_face), class: "avatar-larger" %>
  <!-- <i class="fas fa-pencil-alt" style="color: white;"></i> -->
  <h4><%= current_user.email %></h4>
  <!-- <a href=""><h4>─────────</h4></a> -->
  <a href="#"><i class="icons fas fa-cogs"></i></a>
  <a href="#"><i class="icons fas fa-envelope"></i></a>
  <a href="#"><i class="icons fas fa-receipt"></i></a>
  <h4><a href="#">help</a></h4>
</div>

<!-- Page content -->
<div class="main">

</div>

<!-- <script>
    /* Set the width of the side navigation to 250px */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
 -->
