<div class="container">
  <div class="positioning">
    <div class="form-style">
      <h3>Are you sure you want to add this meal?</h3>
      <%= simple_form_for [@meal, @order] do |f| %>
          <%= f.button :submit, class: "btn-primary" %>
        </div>
      <% end %>
  <!--  </div -->
  </div>
</div>
