<div class="containerorder">

  <h1>Order Review</h1> <br>
  <h4>You ordered <(2)> portions of<br> <br>@user.meal</h4> <br>

  <%= render 'orders/form' %>
  <%#= link_to 'Go back', meal_path(@meal) %>
  <div class="gif">
    <img src="https://cdn.dribbble.com/users/107759/screenshots/3759297/salad.gif" alt="">
  </div>
  <div class="home">
    <h4>Checkout</h4>
    <%= link_to meals_path do %>

      <h3><i class="fas fa-credit-card"></i></h3>
    <% end %>
  </div>

</div>
