<div class="containerorder">

  <h1>New order</h1> <br>
  <h4>You can now pick up you order from <br> <br>@user.address</h4> <br>
  <%#= render 'orders/form' %>
  <%#= link_to 'Go back', meal_path(@meal) %>
  <div class="gif">
    <img src="https://cdn.dribbble.com/users/107759/screenshots/3759297/salad.gif" alt="">
  </div>
  <div class="home">
    <%= link_to meals_path do %>
      <h3><i class="fas fa-home"></i></h3>
    <% end %>
  </div>

</div>
