<h1>Congrats you have booked : <%=@meal.name %></h1>
<h1>Your summary:</h1>
<ul>
  <li>Status: <%= @order.state %></li>
  <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>

  <%= link_to 'View your orders', meal_orders_path(@meal)  %>
<ul>
