<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/709823/pexels-photo-709823.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="containerhome" style="padding-left:120px; padding-top: 155px;">
    <h1 style="font-size: 45px;">Welcome to <strong>Whiskit.</strong></h1>
    <p style="font-size: 30px; color: white;">Find local home-cooked food.</p>
   <div>
      <div>
        <div class="home-search"> <!-- NEW SEARCH BAR -->
          <div class="d-flex justify-content-flex-start h-100">
            <%= form_tag meals_path, method: :get, class: "searchbar" do %>
              <%= text_field_tag :query, params[:query], autocomplete: false,
              placeholder: "  Find food near you" , class: "search_input" %>
            <% end %>
          </div>
        </div> <!-- NEW SEARCH BAR -->
        <!-- Search bar -->
      <!-- Search bar -->
      </div>
    </div>
  </div>
</div>
<div>
  <h2 style="font-size: 26px;" class="h1black">This weeks news & inspiration:</h2>
</div>

<div class="card-columns" style="padding:26px;">

  <div class="card card-back border-0">
    <img src="https://images.unsplash.com/photo-1462618521524-07d259ab774a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="padding-top: 10px;">How to make pasta at home</h5>
      <p class="card-text">Have a crack at making pasta yourself<a href="https://www.bbcgoodfood.com/recipes/fresh-pasta" target="_blank"> Click here for recepie</a> </p>
    </div>
  </div>

  <div class="card p-3 text-center card-back border-0">
    <blockquote class="blockquote mb-0 card-body">
      <p>If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          J.R.R. Tolkien <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card card-back border-0">
    <img src="https://images.unsplash.com/photo-1464196209402-a16825eb34f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="padding-top: 10px;">Up your baking game at home.</h5>
      <p class="card-text">An easy recipie for a tasty treat. <a href="https://www.spendwithpennies.com/easy-rocky-road/" target="_blank">Link to recipe</a></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card card-back border-0">
    <div class="card-body">
      <h5 class="card-title">Boycott Monsanto!</h5>
      <p class="card-text">An article on why and how we can avoid buying products from GM monoploy compainies such as monsanto <a href="https://feast.media/food-brands-owned-by-monsanto" target="_blank"> Read article here..</a> </p>
      <p class="card-text"><small class="text-muted">Last updated 40 mins ago</small></p>
    </div>
  </div>


  <div class="card card-back border-0">
    <img src="https://images.immediate.co.uk/volatile/sites/2/2018/05/OLI-0518-ThreeWaysHummus-Baguette_024163-c1e4953.jpg?quality=45&resize=1880,808" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="padding-top: 10px;">Falafel recipe</h5>
      <p class="card-text">Delicious vegan falafel recipie. <a href="https://www.olivemagazine.com/recipes/vegan/avocado-hummus-falafel-and-broad-bean-baguettes/" target="_blank">Link to slideshow</a></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card card-back border-0">
    <img src="https://images.unsplash.com/photo-1472141341085-dab5ea0df9a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="padding-top: 10px;">How to get the most out of your veg in spring.</h5>
      <p class="card-text">Some inspiration to those who grow or just want to get the best out od in-season local produce. <a href="https://www.realsimple.com/food-recipes/recipe-collections-favorites/popular-ingredients/spring-vegetable-recipes" target="_blank">Link to slideshow</a></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card p-3 text-center card-back border-0">
    <blockquote class="blockquote mb-0">
      <p>Good food is good food and i love it, you have to share it with your neighbours.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Gordon Ramsey in <cite title="Source Title">Ramsey Chronicles</cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card card-back border-0">
    <img src="http://iamafoodblog.com/wp-content/uploads/2019/03/teriyaki-chicken-recipe-8202.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="padding-top: 10px;">7 Ingredient 10 Minute Instant Pot Teriyaki Chicken.</h5>
      <p class="card-text">Try cooking something a bit different with this straight foward Teriyaki Chicken recipie.<a href="http://iamafoodblog.com/7-ingredient-10-minute-instant-pot-teriyaki-chicken/" target="_blank"> Read recepie here..</a> </p>
    </div>
  </div>

  <div class="card card-back border-0">
    <img src="https://images.immediate.co.uk/volatile/sites/2/2018/07/OLI0618-Healthy-LentilBurger_023639-3af2053.jpg?quality=45&resize=1880,808" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="padding-top: 10px;">Spicy vegan lentil burgers </h5>
      <p class="card-text">A great easy recipe for a vegan burger full of flavour and healthy goodness. <a href="https://www.olivemagazine.com/recipes/vegan/spicy-lentil-burgers/" target="_blank"> Get the recepie here..</a> </p>
    </div>
  </div>

  <div class="card p-3 text-center card-back border-0">
    <blockquote class="blockquote mb-0 card-body">
      <p>All you need is love. But a little chocolate now and then doesn't hurt.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Charles M. Schulz <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>


</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var button = document.querySelector(".ap-input-icon.ap-icon-pin");
    var svg = document.querySelector(".ap-input-icon.ap-icon-pin > svg");
    button.removeChild(svg);
    button.insertAdjacentHTML("afterbegin",
      `<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>`);
    });
</script>

<%= render 'shared/footer' %>
