<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1448935852404-7a38bb46f5b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);">
  <div class="containerhome" style="padding-left:120px; padding-top: 55px;">
    <h1>Welcome to <strong>Whiskit.</strong></h1>
    <p>Find local home-cooked food.</p>

    <div>
      <div>
        <%= form_tag meals_path, method: :get do %>
        <!-- Search bar -->
        <%= text_field_tag :query,
        '',
        placeholder: "Find food near you?", class: "home-search" %>
        <button class="btn-add" type="submit">Search...</button>
        <% end %>
        <!-- Search bar -->
      </div>
    </div>
  </div>
</div>
<div>
  <h2 class="h1black">This weeks news & inspiration:</h2>
</div>

<div class="card-columns">

  <div class="card">
    <img src="https://images.unsplash.com/photo-1462618521524-07d259ab774a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">How to make pasta at home</h5>
      <p class="card-text">Have a crack at making pasta yourself<a href="https://www.bbcgoodfood.com/recipes/fresh-pasta" target="_blank"> Click here for recepie</a> </p>
    </div>
  </div>

  <div class="card p-3 text-center">
    <blockquote class="blockquote mb-0 card-body">
      <p>If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          J.R.R. Tolkien <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card">
    <img src="https://images.unsplash.com/photo-1464196209402-a16825eb34f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Up your baking game at home.</h5>
      <p class="card-text">An easy recipie for a tasty treat. <a href="https://www.spendwithpennies.com/easy-rocky-road/" target="_blank">Link to recipe</a></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Boycott Monsanto!</h5>
      <p class="card-text">An article on why and how we can avoid buying products from GM monoploy compainies such as monsanto <a href="https://feast.media/food-brands-owned-by-monsanto" target="_blank"> Read article here..</a> </p>
      <p class="card-text"><small class="text-muted">Last updated 40 mins ago</small></p>
    </div>
  </div>


  <div class="card">
    <img src="https://images.immediate.co.uk/volatile/sites/2/2018/05/OLI-0518-ThreeWaysHummus-Baguette_024163-c1e4953.jpg?quality=45&resize=1880,808" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Falafel recipe</h5>
      <p class="card-text">Delicious vegan falafel recipie. <a href="https://www.olivemagazine.com/recipes/vegan/avocado-hummus-falafel-and-broad-bean-baguettes/" target="_blank">Link to slideshow</a></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://images.unsplash.com/photo-1472141341085-dab5ea0df9a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">How to get the most out of your veg in spring.</h5>
      <p class="card-text">Some inspiration to those who grow or just want to get the best out od in-season local produce. <a href="https://www.realsimple.com/food-recipes/recipe-collections-favorites/popular-ingredients/spring-vegetable-recipes" target="_blank">Link to slideshow</a></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card p-3 text-center">
    <blockquote class="blockquote mb-0">
      <p>Good food is good food and i love it, you have to share it with your neighbours.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Gordon Ramsey in <cite title="Source Title">Ramsey Chronicles</cite>
        </small>
      </footer>
    </blockquote>
  </div>

  <div class="card">
    <img src="http://iamafoodblog.com/wp-content/uploads/2019/03/teriyaki-chicken-recipe-8202.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">7 Ingredient 10 Minute Instant Pot Teriyaki Chicken.</h5>
      <p class="card-text">Try cooking something a bit different with this straight foward Teriyaki Chicken recipie.<a href="http://iamafoodblog.com/7-ingredient-10-minute-instant-pot-teriyaki-chicken/" target="_blank"> Read recepie here..</a> </p>
    </div>
  </div>

  <div class="card">
    <img src="https://images.immediate.co.uk/volatile/sites/2/2018/07/OLI0618-Healthy-LentilBurger_023639-3af2053.jpg?quality=45&resize=1880,808" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Spicy vegan lentil burgers </h5>
      <p class="card-text">A great easy recipe for a vegan burger full of flavour and healthy goodness. <a href="https://www.olivemagazine.com/recipes/vegan/spicy-lentil-burgers/" target="_blank"> Get the recepie here..</a> </p>
    </div>
  </div>

  <div class="card p-3 text-center">
    <blockquote class="blockquote mb-0 card-body">
      <p>All you need is love. But a little chocolate now and then doesn't hurt.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Charles M. Schulz <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>


</div>

<%= render 'shared/footer' %>
