<h3 id="title"> meals in user.postcode</h3>

<div class="container1" style="padding-top: 0px !important">

  <div class="meal-cards">
    <% @meals.each do |meal| %>
      <div style="height: 200px; width: calc(50% - 20px); background-color: red; margin: 0px 10px 10px 10px;"></div>
    <% end %>
  </div>

  <div
    class="map-position" id="map"
    style="width: 40%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


</div>
