<% @meals.each do |meal| %>
  <%= render 'shared/meal_card', meal: meal %>
<% end %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<%= link_to 'Add new meal', new_meal_path  %>

