<!-- <div class="container">
  <div class="interior">
    <a class="btn" href="#open-modal"></i> food-card-click </a>
 </div>
</div>
<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>

    <div class="image-modal">
      <div>
        <%= image_tag 'lasange.jpg' %>
      </div>
    </div>
    <div class="food-title">
      <h1><%= @meal.name %></h1>
    </div>
    <div class="meal-description">
      <p> description description description description description  </p>
    </div>
    <div>
      <h3> pick-up time : 6pm - 8pm </h3>
    </div>
    <div>
      <p> suitable for : veggies / vegans / nut allergies </p>
    </div>
    <div>
      <p> reviews </p>
    </div>
     <div>
      <button> BUY NOW</button>


    </div>
    </div>
</div> -->

