.btn-add {
  color: white;
  // border: 1px solid #4A4A4A;
  background-color: #19BB73;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  // opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-all {
  color: white;
  background-color: #19BB73;
  padding: 4px 15px;
  border-radius: 50px;
  font-weight: normal;
  text-decoration: none;
  .btn-all:hover {
    text-decoration: none;
    color: white;
    opacity: 0.6;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.search-button{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: white;
  border-color: white;
}

.fa-search {
  color: black;
  opacity: 0.5;
}


.dropdown-button:focus {
  box-shadow: none;
}
