.container2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15%;

}

.key-information {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.add-meal-button {
    // padding-top: 60px;
    // padding-bottom: 60px;
    background-color: #72CCAB;
    border-color: #72CCAB;
}

.padding {
  padding: 60px 0;
}

.cook-book {
  padding-right: 40px;
}

.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  i {
    font-size: 35px;
    opacity: 0.3;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h3 {
    opacity: 0.5;
  }
}

.dashboard-flex {
  display: flex;
  justify-content: space-between;
}

.page-content {
  margin-left: 0px;
  width: 80%;
}

.active-meals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  // padding-top: 20px;
  // padding-bottom: 20px;
  //   i {
  //     font-size: 200px;
  //     padding-top: 0px;
  //   }
}

.active-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.remaing-portions {
  padding-left: 30px;
  text-align: center;
    p {
      font-size: 12px;
    }

    i {
      font-size: 40px;
      opacity: 0.5;
    }
}

.meal-counter {
  display: flex;
  justify-content: space-around;
  vertical-align: center;

}

.time-remaining {
  text-align: center;
  padding-left: 50px;
    p {
      font-size: 12px;
    }

    i {
      font-size: 40px;
      opacity: 0.5;
    }
}

.time-left {
  display: flex;
  justify-content: space-around;
  vertical-align: center;

}

.counters {
  display: flex;
  justify-content: space-around;
  vertical-align: center;
}

.active-info {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;

}

//////////////////////////////////////////////////////

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
