.mealform {
  width: 40%;
  margin: auto;
  padding-top: 30px;
  h3 {
    padding-left: 15px;
    padding-bottom: 10px;
  }
}

.halfform {
  width: 50%;
}

.bottomdiv {
  display: flex;
  .bottomleft {
    width: 50%;
  }
  .bottomright {
    border-color: black;
    width: 50%;
    height: 100%;
    padding-left: 60px;
    padding-bottom: 6px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

  }
}

.tick-items {
  // padding-top: 20px;
}

label {
  margin-bottom: 0.68em;
}
