.modalimage {
  height: 230px;
  width: 100%;
  padding: 6px;
  img {

    height: 100%;
    width: 100%;
  }
}

.modal-footer {
  justify-content: space-around;
}

.modal-body {
  text-align: center;
}

.modal-header {
  text-align: center;
  h5 {
    text-align: center;
  }
}

.modelcontainer {
  width: 350px;
  margin-left: calc(50vw - 175px);
}

.modal-content {
  align-content: center;
}

