.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-menu .dropdown-menu-right .show{
  z-index: 99999999 !important;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logos_nav_bar {
  width: 40px;
}

.navbar-item {

  z-index: 10;
}

// #navbarSupportedContent {
//     position: relative;
// }
